* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
}

.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: right;
  color: #f2f2f2;
  font-family: "Girassol", cursive;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  border-bottom: solid 1px white;
}
.navbar a:hover {
  background-color: #ddd;
  color: white;
}

.jumbocontainer {
  padding: 1em 1.6em;
}

.jumbocontainer img {
  display: block;
  width: 320px;
  border: solid 1px black;
  border-radius: 50%;
  object-fit: contain;
  margin: 0 auto;
}

.jumbocontainer p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
}
.jumbocontainer h1 {
  font-family: "Girassol", cursive;

  font-size: 3em;
}

.jumbocontainer article img {
  margin: 0 auto 1em;
}

.pullright {
  float: right;
}

.ideaimage {
  position: relative;
  top: -50px;
  z-index: -1;
  transform: scaleX(-1);
}
.portfolioCard1 {
  display: flex;
  position: inline;
  transition: transform 0.2s;
}
.portfolioCard1:hover {
  transform: scale(1.5);
}

.portfolioCard2 {
  display: flex;
  position: inline;
  transition: transform 0.2s;
}
.portfolioCard2:hover {
  transform: scale(1.5);
}

.contact {
  font-family: "Girassol", cursive;
  font-size: 1.5em;
  text-align: center;
}

.contactCard {
  height: fit-content;
  background: linear-gradient(-45deg, #0a0a0a, #b60825, #000000, #f7f7f7);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  justify-content: center;
}
/* i did not make the color change */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 768px) {
  .jumbocontainer {
    display: flex;
    align-items: flex-start;
  }
  .jumbocontainer img {
    margin: 0;
  }
}
